@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Gidugu&family=Puppies+Play&family=Rubik+Microbe&display=swap');

* {
  box-sizing: border-box;
  transition: 0.7s ease;
  font-family: sans-serif;
  color: white;
}

html {
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  background-color: #29303B;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #29303B;
  padding: 0 25px;
  height: 40px;
  width: 100vw;
  z-index: 100;
}

.logo {
  margin: 10px;
  color: #51D1D9;
  font-family: "Fleur De Leah", cursive;
  font-weight: 100;
}

.toggle-btn {
  transform: rotate(90deg);
  border: none;
  background-color: unset;
  font-size: 18px;
  cursor: pointer;
}

nav li {
  list-style: none;
  margin: 15px 30px;
}

nav li a {
  text-decoration-line: none;
}

.navbarLinks {
  position: absolute;
  width: 100vw;
  padding: 20px;
  left: 0;
  background-color: #29303B;
  box-shadow: 0 0 10px #51D1D9;
}

nav li a.active,
nav li a:hover {
  color: #51D1D9;
}

.span {
  color: #51D1D9;
}

.para {
  font-size: 13px;
  margin: 15px 5px;
  line-height: 20px;
  text-align: left;
}

.hidden {
  display: none;
}

#home {
  padding: 80px 20px;
}

.images {
  margin: 5px;
  width: 250px;
  height: 170px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

#home strong {
  font-size: 18px;
  line-height: 29px;
}

#home p {
  margin: 25px 10px 40px;
}
